<div
  class="task-card"
  [class.completed]="task().completed"
  [class.dragging]="dragging()"
  draggable="true"
  (dragstart)="onDragStart($event)"
  (dragend)="onDragEnd()"
>
  <!-- Checkbox de statut terminé -->
  <input
    type="checkbox"
    class="task-checkbox-icon"
    [checked]="task().completed"
    (change)="toggleCompleted()"
  />

  <!-- Affichage lecture seule -->
  @if (!task().isEditing) {
  <h4>{{ task().title }}</h4>
  <p>{{ task().description }}</p>

  <div class="task-actions">
    <button (click)="startEdit()" title="Modifier">✏️</button>
    <button (click)="deleteTask()" title="Supprimer">❌</button>
  </div>
  }

  <!-- Édition de la tâche -->
  @else {
  <input
    type="text"
    [value]="task().title"
    (input)="updateTitleFromEvent($event)"
    placeholder="Titre"
  />

  <textarea
    [value]="task().description"
    (input)="updateDescriptionFromEvent($event)"
    placeholder="Description"
  ></textarea>

  <div class="task-actions">
    <button (click)="saveEdit()" title="Valider">✅</button>
    <button (click)="cancelEdit()" title="Annuler">❌</button>
  </div>
  }
</div>
