<app-confirm-dialog></app-confirm-dialog>
<app-alert></app-alert>

<div class="main-layout">
  <aside class="sidebar">
    <h1>Task Manager</h1>
    <nav class="boards-list">
      @for (board of boards(); track board.id) {
      <div
        (click)="selectBoard(board.id)"
        [class.selected]="selectedBoardId() === board.id"
        class="board-item"
      >
        {{ board.name }}
      </div>
      }
      <button class="add-board-btn" (click)="addBoard()">+ Add Board</button>
    </nav>
  </aside>

  <section class="board-area" *ngIf="selectedBoardId() !== null">
    <header class="board-header">
      <h2>
        {{ selectedBoardName }}
      </h2>
    </header>
    <app-board [boardId]="selectedBoardId()!"></app-board>
  </section>
</div>
